{% if description %}
<h3>Kuvaus</h3>
<article data-type="kunta-api-service-component" data-component="description" data-service-id="{{ serviceId }}">{{ description }}</article>
{% endif %}

{% if userInstruction %}
<h3>Toimintaohjeet</h3>
<article data-type="kunta-api-service-component" data-component="userInstruction" data-service-id="{{ serviceId }}">{{ userInstruction }}</article>
{% endif %}

{% if languages %}
<h3>Kielet, joilla palvelu on saatavilla</h3>
<article data-type="kunta-api-service-component" data-component="languages" data-service-id="{{ serviceId }}">
  {% for language in languages %}
    <span>{{ language }}</span>
  {% endfor %}  
</article>
{% endif %}