{% if description %}
<h3>Kuvaus</h3>
<article data-type="kunta-api-service-component" data-component="description" data-service-id="{{ serviceId }}">{% include 'service-description.twig' %}</article>
{% endif %}

{% if userInstruction %}
<h3>Toimintaohjeet</h3>
<article data-type="kunta-api-service-component" data-component="userInstruction" data-service-id="{{ serviceId }}">{% include 'service-user-instructions.twig' %}</article>
{% endif %}

{% if languages %}
<h3>Kielet, joilla palvelu on saatavilla</h3>
<article data-type="kunta-api-service-component" data-component="languages" data-service-id="{{ serviceId }}">
{% include 'service-languages.twig' %}
</article>
{% endif %}

{% if electronicChannels %}
<h3>Sähköiset palvelukanavat</h3>
{% for electronicChannel in electronicChannels %}
  <article data-type="kunta-api-service-electronic-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ electronicChannel.serviceChannelId }}">
  {% include 'electronic-service-channel.twig' with electronicChannel only %}
  </article>
{% endfor %}  
{% endif %}

{% if phoneChannels %}
<h3>Puhelin palvelukanavat</h3>
{% for phoneChannel in phoneChannels %}
  <article data-type="kunta-api-service-phone-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ phoneChannel.serviceChannelId }}">
  {% include 'phone-service-channel.twig' with phoneChannel only %}
  </article>
{% endfor %}  
{% endif %}

{% if printableFormChannels %}
<h3>Lomake palvelukanavat</h3>
{% for printableFormChannel in printableFormChannels %}
  <article data-type="kunta-api-service-printable-form-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ printableFormChannel.serviceChannelId }}">
  {% include 'printable-form-service-channel.twig' with printableFormChannel only %}
  </article>
{% endfor %}  
{% endif %}

{% if serviceLocationChannels %}
<h3>Asiointipisteet</h3>
{% for serviceLocationChannel in serviceLocationChannels %}
  <article data-type="kunta-api-service-location-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ serviceLocationChannel.serviceChannelId }}">
  {% include 'service-location-service-channel.twig' with serviceLocationChannel only %}
  </article>
{% endfor %}  
{% endif %}

{% if webPageChannels %}
<h3>Verkkosivut</h3>
{% for webPageChannel in webPageChannels %}
  <article data-type="kunta-api-service-webpage-channel" data-service-id="{{ serviceId }}" data-service-channel-id="{{ webPageChannel.serviceChannelId }}">
  {% include 'webpage-service-channel.twig' with webPageChannel only %}
  </article>
{% endfor %}  
{% endif %}