{% if serviceHours %}
  {% set additionalInfo = false %}
  {% for serviceHour in serviceHours %}
  {% if serviceHour.additionalInformation|localizedValue(lang) %}
  {%  set additionalInfo = true  %}
  {% endif %}
  {% endfor %}

  <h3>Palveluajat</h3>
  {% spaceless %}
    <table class="service-hours">
      <thead>
        <tr>
          <th>Päivä</th>
          <th>Aika</th>
          <th>Avoinna</th>
          {% if additionalInfo %}
            <th>Lisätiedot</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for serviceHour in serviceHours %}
          <tr>
            <td>
              {% if serviceHour.days|first == serviceHour.days|last %}
              {{ serviceHour.days|first|shortDay }}
              {% else %}
              {{ serviceHour.days|first|shortDay }} - {{ serviceHour.days|last|shortDay }}
              {% endif %}
            </td>
            <td>{% if serviceHour.opens and  serviceHour.closes %}{{ serviceHour.opens }} - {{ serviceHour.closes }}{% endif %}</td>
            <td>{% if serviceHour.status == 'OPEN' %}Avoinna{% else %}Suljettu{% endif %}</td>
            {% if additionalInfo %}
              <td>{{ serviceHour.additionalInformation|localizedValue(lang)|nl2br }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endspaceless %}
{% endif %}